body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f8fbff;
  color: #333;
}

/* HERO */
.header-pbi {
  position: relative;
  height: 55vh;
  background: url('../img/pbihead.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  text-align: center;
}


.overlay-pbi {
  background: rgba(58, 7, 86, 0.564);
  width: 100%;
  height: 100%;
  padding: 100px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.judul-pbi {
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 0 0 20px rgba(136, 0, 255, 0.9);
}

.subjudul-pbi {
  font-size: 1.2rem;
  color: #ffe0b3;
}


/* DESKRIPSI */
.deskripsi {
  padding: 70px 12%;
  background: white;
  border-radius: 12px;
  margin: 60px auto;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  line-height: 1.8;
  text-align: justify;
}

/* VMT */
.vmt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  background: linear-gradient(135deg, #002b4f, #005a99);
  color: white;
  padding: 80px 10%;
}

.vmt-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  width: 310px;
  text-align: left;
  transition: transform 0.3s ease;
}
.vmt-card:hover { transform: translateY(-8px); }
.vmt-card ul { padding-left: 18px; line-height: 1.6; }

/* PROSPEK */
.prospek {
  padding: 60px 12%;
  text-align: center;
}
.prospek-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.prospek-item {
  background: white;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.prospek-item:hover {
  background: #004d80;
  color: white;
}

/* FOOTER */
.footer {
  background: #001b33;
  color: white;
  text-align: center;
  padding: 20px;
}

/* ANIMASI */
/* ANIMASI SAAT SCROLL */
.scroll-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.scroll-animate.scrolled {
  opacity: 1;
  transform: translateY(0);
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content h1 { font-size: 2rem; }
  .hero-content p { font-size: 1rem; }
  .vmt-card, .deskripsi { width: 100%; padding: 40px 5%; }
}
