/* ------------------------------ 
   HALAMAN DOSEN - Ma'soem University
------------------------------ */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f7faff;
  color: #333;
}

/* SECTION DOSEN */
.dosen-section {
  padding: 60px 10%;
  background: #fff;
  margin-top: 0px;
}

.dosen-section h1 {
  font-size: 2.2rem;
  color: #003366;
  text-align: center;
  margin-bottom: 10px;
}

.subjudul {
  text-align: center;
  color: #555;
  font-size: 1rem;
  margin-bottom: 40px;
}

/* GRID DOSEN */
.dosen-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.dosen-card {
  background: #f2f7fc;
  border: 1px solid #dce8f5;
  border-radius: 10px;
  padding: 18px 15px;
  text-align: center;
  font-weight: 500;
  color: #002b5c;
  transition: 0.3s;
}

.dosen-card:hover {
  background: #003366;
  color: #fff;
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .dosen-section {
    padding: 40px 6%;
  }

  .dosen-section h1 {
    font-size: 1.8rem;
  }

  .subjudul {
    font-size: 0.95rem;
  }
}
